body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
    }

    .card {
      width: 350px;
      margin: 50px auto;
      background: white;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
      padding: 10px;
    }

    .top {
      background: green;
      text-align: left;
      padding: 20px;
      border-radius: 8px;
      margin-bottom: 10px;
    }

    .top img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
    }

    .name {
      background: #2b66d5;
      color: white;
      text-align: left;
      padding: 15px;
      border-radius: 8px;
      margin-bottom: 10px;
    }

    .info {
      background: #b9752f;
      color: white;
      text-align: left;
      padding: 15px;
      border-radius: 8px;
      margin-bottom: 10px;
    }

    .contact {
      background: purple;
      color: white;
      padding: 15px;
      border-radius: 8px;
      margin-bottom: 10px;
    }

    .contact p {
      margin: 5px 0;
    }

    .social {
      background: brown;
      text-align: left;
      padding: 10px;
      border-radius: 8px;
    }

    .social a {
      color: white;
      text-decoration: none;
      margin: 0 10px;
      font-weight: bold;
    }