* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  height: 100vh;
}

.container {
  width: 900px;
  height: 600px;
  border: 3px solid #000;
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

/* HEADER SECTION */
header {
  display: grid;
  grid-template-areas:
    "logo topbar"
    "logo subbar"
    "logo menu";
  grid-template-columns: 150px 1fr;
  grid-template-rows: 40px 30px 40px;
  gap: 10px;
}

header > * {
  border: 1px solid #000;
}

.logo {
  grid-area: logo;
  background: #4caf50;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  border: 3px solid #000000;
}

.top-bar {
  grid-area: topbar;
  background: #4caf50;
  border: 3px solid #000000; 
}

.sub-bar {
  grid-area: subbar;
  background: #d9d9d9;
  width: 60%;
  border: 3px solid #000000;
}
.menu {
  grid-area: menu;
  display: flex;
  gap: 10px;
  border:none;
}
.menu-item {
  display: flex;
  flex: 1;
  background: #4caf50;
  border: 3px solid #000;
}

/* MAIN SECTION */
.main {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 1fr 60px;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.navigation {
  grid-column: 1;
  grid-row: 1 / 2;
  background: #d9d9d9;
  border: 3px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

/* Right column */
.content {
  grid-column: 2;
  grid-row: 1 / 2;
  border: 3px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
}

/* Bottom-left box (under navigation) */
.white-space {
  grid-column: 1;
  grid-row: 2 / 3;
  border:none;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #555;
}

/* Bottom-right box (under content) */
footer {
  grid-column: 2;
  grid-row: 2 / 3;
  background: #4caf50;
  color: rgb(0, 0, 0);
  border: 3px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  height: 50px;
  
}